body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}
input[type="tel"],
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.user-list {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

/*-------Search bar -------*/
.search-bar {
    position: relative;
    margin-bottom: 20px; /* Adjust as needed */
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none; /* Remove default outline */
}

.search-bar input[type="text"]:focus {
    border-color: goldenrod; /* Change border color when focused */
    border: 1rem;
}
/* Style the search icon */
.search-bar::after {
    content: '\1F50D';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
}

/* Adjust icon color on focus */
.search-bar input[type="text"]:focus + ::after {
    color: goldenrod;
}




/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    button {
        padding: 8px 16px;
    }
}

@media (max-width: 576px) {
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    button {
        width: 100%;
    }
}
